<div class="bg-gray-700 px-4 py-2">
    <section class="space-y-4">
        <h2 class="text-2xl font-bold">Create Match Set</h2>
        <form action="/admin/preview_match" method="POST" class="space-y-4">
            <div class="grid grid-cols-2 gap-4">

                <div>
                    <label for="region_id" class="block text-sm font-medium text-gray-700">Region</label>
                    <select id="regionSelect" name="region_id" class="bg-gray-700 text-gray-300 rounded-lg p-2" required>
                        <option value="" disabled selected>Select a Region</option>
                        <% regions.forEach(region => { %>
                            <option value="<%= region.id %>"><%= region.name %></option>
                        <% }) %>
                    </select>
                </div>

                <div>
                    <label for="division_id" class="block text-sm font-medium text-gray-700">Division</label>
                    <select id="divisionSelect" name="division_id" class="bg-gray-700 text-gray-300 rounded-lg p-2" required>
                        <option value="">All Divisions</option>
                        <% divisions.forEach(division => { %>
                            <option value="<%= division.id %>"><%= division.name %></option>
                        <% }) %>
                    </select>
                </div>

                <div>
                    <label for="season_no" class="block text-sm font-medium text-gray-700">Season Number:</label>
                    <select id="match_season_no" name="season_no" required class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md text-black" onchange="updateWeeksDropdown()">
                        <option value="" disabled selected>-</option>
                        <% seasons.forEach(season => { %>
                            <option value="<%= season.id %>" data-weeks="<%= season.numWeeks %>"><%= season.id %></option>
                        <% }) %>
                    </select>
                </div>

                <div>
                    <label for="week_no" class="block text-sm font-medium text-gray-700">Week Number:</label>
                    <select id="week_no" name="week_no" required class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md text-black">
                        <option value="" disabled selected>Select a Week</option>
                    </select>
                </div>

                <div>
                    <label for="bo_series" class="block text-sm font-medium text-gray-700">Best of Series</label>
                    <select id="bo_series" name="bo_series" required class="mt-1 block w-32 pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md text-black">
                        <option value="1">1</option>
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="7">7</option>
                        <option value="9">9</option>
                    </select>
                </div>
            </div>

            <div class="mx-auto flex items-center mt-4">
                <button type="submit" class="bg-green-500 text-white font-bold py-2 px-4 rounded hover:bg-green-600">Preview Match Set</button>
            </div>
        </form>
    </section>
</div>


<script>
function updateWeeksDropdown() {
    const seasonSelect = document.getElementById('match_season_no');
    const weekSelect = document.getElementById('week_no');
    const selectedOption = seasonSelect.options[seasonSelect.selectedIndex];
    const weeksCount = selectedOption.dataset.weeks;

    weekSelect.innerHTML = '';
    
    for (let i = 1; i <= weeksCount; i++) {
        const option = document.createElement('option');
        option.value = i;
        option.textContent = 'Week ' + i;
        weekSelect.appendChild(option);
    }
}
</script>


<div id="teamsContainer">
    <% divisions.forEach(division => { %>
      <div class="division-section" data-division="<%= division.id %>">
        <h2 class="text-lg font-bold mt-4 mb-2"><%= division.name %></h2>
        <table class="bg-gray-700 divide-y divide-gray-700 min-w-full table-fixed mb-6">
          <thead>
            <tr>
              <th class="px-4 py-2 text-left text-xs font-medium uppercase tracking-wider">Team</th>
              <th class="px-4 py-2 text-left text-xs font-mediumuppercase tracking-wider">Region</th>
              <th class="px-4 py-2 text-left text-xs font-medium uppercase tracking-wider">Record</th>
            </tr>
          </thead>
          <tbody class="bg-gray-800 divide-y divide-gray-700 rounded-lg">
            <% 
              teamsWithPlayers
                .filter(team => team.divisionId === division.id && team.status === 2)
                .forEach(team => { 
                  const region = regions.find(reg => reg.id === team.regionId); 
            %>
              <tr class="bg-gray-800 cursor-pointer clickable team" 
                  onclick="handleRowClick(event, '<%= team.id %>')" 
                  data-status="<%= team.status %>" 
                  data-division="<%= team.divisionId %>" 
                  data-region="<%= team.regionId %>">
                <td class="overflow-x-hidden h-10 px-2 py-2 whitespace-nowrap text-sm font-medium text-gray-300 flex items-center space-x-2">
                  <img src="/images/team_avatars/<%= team.avatar %>" alt="Team Avatar" class="px-4 py-2 h-10 rounded-md">
                  <span><%= team.name %></span>
                </td>
                <td class="px-4 py-2 whitespace-nowrap text-sm text-gray-300">
                  <%= region.name %>
                </td>
                <td class="px-4 py-2 whitespace-nowrap text-sm text-gray-300">
                  <%= team.wins %> - <%= team.losses %>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    <% }) %>
  </div>
  
  <style>
    tbody tr.clickable:hover {
      background-color: rgba(0, 0, 0, 0.5);
      transition-duration: 0s;
      color: black;
    }
  </style>
  