<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">


<div class="bg-gray-700 px-4 py-2">
    <section class="space-y-4">
        <h2 class="text-2xl font-bold">Create Match Set</h2>
        <form action="/admin/preview_match" method="POST" class="space-y-4">
            <div class="grid grid-cols-2 gap-4">

                <div>
                    <label for="region_id" class="block text-sm font-medium text-gray-700">Region</label>
                    <select id="region_select" name="region_id" class="bg-gray-700 text-gray-300 rounded-lg p-2" onchange="updateSeasonDropdown()" required>
                        <option value="" disabled selected>Select a Region</option>
                        <% regions.forEach(region => { %>
                            <option value="<%= region.id %>"><%= region.name %></option>
                        <% }) %>
                    </select>
                </div>

                <div>
                    <label for="division_id" class="block text-sm font-medium text-gray-700">Division</label>
                    <select id="divisionSelect" name="division_id" class="bg-gray-700 text-gray-300 rounded-lg p-2" required>
                        <option value="">All Divisions</option>
                        <% divisions.forEach(division => { %>
                            <option value="<%= division.id %>"><%= division.name %></option>
                        <% }) %>
                    </select>
                </div>

                <div>
                    <label for="season_select" class="block text-sm font-medium text-gray-700">Season:</label>
                    <select id="season_select" name="season_id" required class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md text-black" onchange="updateWeeksDropdown()" disabled>
                        <option value="" disabled selected>Select a Region First</option>
                    </select>
                    <input type="hidden" id="season_no" name="season_no" value="">
                </div>

                <div>
                    <label for="week_no" class="block text-sm font-medium text-gray-700">Week Number:</label>
                    <select id="week_no" name="week_no" required class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md text-black">
                        <option value="" disabled selected>Select a Week</option>
                    </select>
                </div>

                <div>
                  <label for="arena_id" class="block text-sm font-medium text-gray-700">Arena:</label>
                  <select id="arenaSelect" name="arena_id" required class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md text-black">
                    <option value="">All Arenas</option>
                    <% arenas.forEach(arena => { %>
                        <option value="<%= arena.id %>"><%= arena.name %></option>
                    <% }) %>                  
                  </select>
                </div>  

                <div>
                    <label for="bo_series" class="block text-sm font-medium text-gray-700">Best of Series</label>
                    <select id="bo_series" name="bo_series" required class="mt-1 block w-32 pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md text-black">
                        <option value="1">1</option>
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="7">7</option>
                        <option value="9">9</option>
                    </select>
                </div>

                <div class="mt-4">
                  <label for="match_date_time" class="block text-sm font-medium text-gray-700">Select Match Date and Time:</label>
                  <input type="text" id="match_date_time" name="match_date_time" required 
                    class="mt-1 block w-full pl-3 pr-3 py-2 border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md text-black"
                  />
                </div>                

            <div class="mx-auto flex items-center mt-4">
                <button type="submit" class="bg-green-500 text-white font-bold py-2 px-4 rounded hover:bg-green-600">Preview Match Set</button>
            </div>
        </form>
    </section>
</div>

<script>
    const allSeasons = JSON.parse('<%- JSON.stringify(seasons) %>');
    console.log('Loaded seasons:', allSeasons);
</script>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
function updateSeasonDropdown() {
    const regionSelect = document.getElementById('region_select');
    const seasonSelect = document.getElementById('season_select');
    const selectedRegionId = Number(regionSelect.value);
    console.log("test");
    console.log(regionSelect);
    
    if (!selectedRegionId) {
        seasonSelect.innerHTML = '<option value="" disabled selected>Select a Region First</option>';
        seasonSelect.disabled = true;
        return;
    }

    const regionSeasons = allSeasons.filter(s => Number(s.regionId) === selectedRegionId);
    seasonSelect.innerHTML = '<option value="" disabled selected>Select a Season</option>';
    
    if (regionSeasons.length > 0) {
        regionSeasons.sort((a, b) => Number(b.seasonNum) - Number(a.seasonNum));
        regionSeasons.forEach(season => {
            const option = document.createElement('option');
            option.value = season.id;
            option.dataset.weeks = season.numWeeks;
            option.dataset.seasonNo = season.seasonNum;
            option.textContent = `Season ${season.seasonNum}`;
            seasonSelect.appendChild(option);
        });
    }
    
    seasonSelect.disabled = false;
}

function updateWeeksDropdown() {
    const seasonSelect = document.getElementById('season_select');
    const weekSelect = document.getElementById('week_no');
    const seasonNoInput = document.getElementById('season_no');
    const selectedOption = seasonSelect.options[seasonSelect.selectedIndex];
    const weeksCount = selectedOption.dataset.weeks;
    const seasonNo = selectedOption.dataset.seasonNo;

    // Update hidden season number input
    seasonNoInput.value = seasonNo;

    weekSelect.innerHTML = '';
    
    for (let i = 1; i <= weeksCount; i++) {
        const option = document.createElement('option');
        option.value = i;
        option.textContent = 'Week ' + i;
        weekSelect.appendChild(option);
    }
}

// Remove the DOMContentLoaded event listener since we're using inline onchange
document.addEventListener('DOMContentLoaded', function () {
    
    // Rest of your existing DOMContentLoaded code...
    function getNextSaturday() {
        const today = new Date();
        const dayOfWeek = today.getDay();
        const daysUntilSaturday = (6 - dayOfWeek + 7) % 7;
        const nextSaturday = new Date(today);
        nextSaturday.setDate(today.getDate() + daysUntilSaturday);
        return nextSaturday;
    }

    flatpickr("#match_date_time", {
        enableTime: true,
        dateFormat: "m/d/y H:i",
        altInput: true,
        altFormat: "F j, Y H:i", 
        time_24hr: true,
        minuteIncrement: 30,
        defaultDate: (() => {
            const saturday = getNextSaturday();
            saturday.setHours(18, 30);
            return saturday;
        })(),
    });
});

</script>

<div id="teamsContainer">
    <% divisions.forEach(division => { %>
      <div class="division-section" data-division="<%= division.id %>">
        <h2 class="text-lg font-bold mt-4 mb-2"><%= division.name %></h2>
        <table class="bg-gray-700 divide-y divide-gray-700 min-w-full table-fixed mb-6">
          <thead>
            <tr>
              <th class="px-4 py-2 text-left text-xs font-medium uppercase tracking-wider">Team</th>
              <th class="px-4 py-2 text-left text-xs font-mediumuppercase tracking-wider">Region</th>
              <th class="px-4 py-2 text-left text-xs font-medium uppercase tracking-wider">Record</th>
            </tr>
          </thead>
          <tbody class="bg-gray-800 divide-y divide-gray-700 rounded-lg">
            <% 
              teamsWithPlayers
                .filter(team => {
                    const baseCondition = team.divisionId === division.id && team.status === 2;
                    // Only show teams that have paid if payment is required
                    if (global.paymentRequired === 1) {
                        return baseCondition && team.paymentStatus === 1;
                    }
                    return baseCondition;
                })
                .forEach(team => { 
                  const region = regions.find(reg => reg.id === team.regionId); 
            %>
              <tr class="bg-gray-800 cursor-pointer clickable team" 
                  onclick="handleRowClick(event, '<%= team.id %>')" 
                  data-status="<%= team.status %>" 
                  data-division="<%= team.divisionId %>" 
                  data-region="<%= team.regionId %>">
                <td class="overflow-x-hidden h-10 px-2 py-2 whitespace-nowrap text-sm font-medium text-gray-300 flex items-center space-x-2">
                  <img src="/images/team_avatars/<%= team.avatar %>" alt="Team Avatar" class="px-4 py-2 h-10 rounded-md">
                  <span><%= team.name %></span>
                </td>
                <td class="px-4 py-2 whitespace-nowrap text-sm text-gray-300">
                  <%= region.name %>
                </td>
                <td class="px-4 py-2 whitespace-nowrap text-sm text-gray-300">
                  <%= team.wins %> - <%= team.losses %>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    <% }) %>
  </div>
  
  <style>
    tbody tr.clickable:hover {
      background-color: rgba(0, 0, 0, 0.5);
      transition-duration: 0s;
      color: black;
    }
  </style>
