<div class="mb-4 bg-gray-800 p-4 rounded-lg shadow">
  <h2 class="text-xl font-bold text-gray-300">Pending Players</h2>
</div>

<div class="pendingPlayersContainer">
  <% pendingPlayers.forEach(player => { %>
    <div class="mb-4 bg-gray-900 p-4 rounded-lg shadow">
      <table class="bg-black divide-y divide-gray-700 min-w-full table-fixed">
        <thead>
          <tr>
            <th class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Player</th>
            <th class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Team</th>
            <th class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
          </tr>
        </thead>
        <tbody class="bg-gray-900 divide-y divide-gray-700 rounded-lg">
          <tr class="bg-gray-800">
            <td class="px-4 py-2 whitespace-nowrap text-sm font-medium text-gray-300 hover:bg-white hover:text-black cursor-pointer"
                onclick="window.location.href='/player_page/<%= player.playerSteamId %>'">
              <%= player.playerName %>
            </td>
            <td class="px-4 py-2 whitespace-nowrap text-sm text-gray-300 cursor-pointer hover:bg-white hover:text-black"
                onclick="window.location.href='/team_page/<%= player.teamId %>'">
              <%= player.teamName %>
            </td>
            <td class="px-4 py-2 whitespace-nowrap text-sm text-gray-300">
              <form action="/approve_player" method="POST" class="inline">
                <input type="hidden" name="player_steamid" value="<%= player.playerSteamId %>">
                <input type="hidden" name="team_id" value="<%= player.teamId %>">
                <button type="submit" class="bg-green-500 text-white font-bold py-1 px-3 rounded hover:bg-green-600">
                  Approve
                </button>
              </form>
              <form action="/decline_player" method="POST" class="inline ml-2">
                <input type="hidden" name="player_steamid" value="<%= player.playerSteamId %>">
                <input type="hidden" name="team_id" value="<%= player.teamId %>">
                <input type="text" name="reason" placeholder="Reason for decline" class="ml-2 px-2 py-1 rounded border border-gray-600 bg-gray-700 text-white">
                <button type="submit" class="bg-red-500 text-white font-bold py-1 px-3 rounded hover:bg-red-600 ml-2">
                  Decline
                </button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <% }) %>
</div>
