<div class="m-y-2 block border-t border-t-white">
  <a href="/thread/<%= thread.id %>">
    <div class="container p-2">
      <ul>
        <p class="steam-username">
          <span class="text-rose-800 text-shadow shadow-white font-bold">
            <%= thread.steamUsername %>
          </span>
          <%= ' published at ' + thread.formatted_date %>
        </p>
        <p class="underline">Topic: <%= thread.title %></p>
        <p class="content"><%= thread.content %></p>
      </ul>
    </div>
  </a>
</div>