<div class="dashboard-container">
    <!-- link dashboard.css -->
    <link rel="stylesheet" href="dashboard.css" />
    <h1>Welcome to the dashboard, <%= session.user.username %></h1>
    <img src='<%= session.user.avatar.small %>' alt="Avatar" class="profile-pic">

    <div class="logos-container">
        <div class="logo">
            <a href="https://steamcommunity.com/profiles/<%= session.user.steamid %>" target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/New_Steam_Logo_with_name.jpg" alt="Steam Logo" class="steam-profile-logo">
            </a>
        </div>
        <div class="logo">
            <a href="https://logs.tf/profile/<%= session.user.steamid %>" target="_blank">
                <img src="images/logs-tf-logo.png" alt="Logs.tf Logo" class="logs-profile-logo">
            </a>
        </div>
        <div class="logo rgl-logo">
            <a href="https://rgl.gg/Public/PlayerProfile?p=<%= session.user.steamid %>&r=40" target="_blank">
                <img src="images/rgl-logo.png" alt="RGL.gg Logo" class="rgl-profile-logo">
            </a>
        </div>
    </div>
    
    <a href="/logout">Logout</a>
</div>
