<div>
    <link rel="stylesheet" href="css/header.css"/>
    <link rel="stylesheet" href="css/forums.css"/>
    <div class="background-page"></div>
    <h1 class="description">Forum Posts</h1>
    <div class="forum-posts">
        <button class="create_post" hx-get="/load?page=create_post" hx-swap="outerHTML">Create Thread</button>
        
        <% forums.forEach(forum => { %>
            <a class="forum-strip" hx-get="/post/<%= forum.thread_id %>" hx-target="#main" hx-swap="innerHTML">
                <ul>
                    <p class="steam-username"><%= forum.steam_username + ' published at ' + forum.formatted_date %></p>
                    <p class="title"><%= forum.title %></p>
                    <p class="content"><%= forum.content %></p>
        
                    <% if (session.user) { %>
                        <% const isOwner = forum.steam_id === session.user.steamid; %>
                        <% const isModerator = moderators.some(moderator => moderator.steam_id === session.user.steamid); %>
                        <% if (isOwner || isModerator) { %>
                            <form hx-post="/remove_post" hx-target="#main" hx-swap="innerHTML">
                                <input type="hidden" name="post_id" value="<%= forum.thread_id %>">
                                <input type="hidden" name="is_owner" value="<%= isOwner %>">
                                <input type="hidden" name="is_moderator" value="<%= isModerator %>">
                                <button class="remove-post" type="submit">Remove Post</button>
                            </form>
                        <% } %>
                    <% } %>
                </ul>
            </a>
        <% }); %>
    </div>
</div>
