<!DOCTYPE html>
<html class="h-full w-full font-sans" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/tw-out.css" />
  <meta name="view-transition" content="same-origin">
  <script src="/js/transitions.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <title>
    <%= title %>
  </title>
</head>

<body class="subpixel-antialiased flex flex-col h-full overflow-hidden bg-cover w-full <%= typeof bgparam !== 'undefined' ? bgparam : 'bg-[url(/images/badlands-mid.png)]' %> text-white">
  <div class="flex flex-col flex-grow overflow-hidden container mx-auto rounded-md">
    <div class="flex flex-col h-full lg:w-3/4 mx-auto">
      <%- include('nav') %>
      <%- include('announcement') %>
      <div id="sidebar" class="fixed left-0 top-20 h-full bg-black bg-opacity-80 w-0 overflow-hidden transition-all duration-300">
        <% include('sidebar') %>
      </div>
      <div id="main-content" class="flex-grow overflow-y-auto">
        <%- include(body) %>
      </div>
    </div>
  </div>
</body>

</html>
