<div class="main-overlay">
    <h1 class="mge-title">
        <img src="images/mge_transparent_logo.png" class="mge-logo">
         REWRITING MGE</h1>
    <div class="placeholder">
        <div class="elo-search-container">
            <input type="text" id="eloSearch" placeholder="Search by username...">
        </div>
        <link rel="stylesheet" href="css/main.css" />
        <table>
            <thead>
                <tr class="elo-title">
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Elo</th>
                    <th>Wins</th>
                    <th>Losses</th>
                </tr>
            </thead>
            <tbody id="eloTableBody">
                <% elo.forEach((player, index)=> { %>
                    <tr style="cursor:pointer" hx-target="#main" hx-get=<%="/player_page/" + player.steamid + "?name=" +
                        player.name %> class="elo-row">
                        <td>
                            <%= index + 1 %>
                        </td>
                        <td class="name-column">
                            <%= player.name %></a>
                        </td>
                        <td>
                            <%= player.rating %>
                        </td>
                        <td>
                            <%= player.wins %>
                        </td>
                        <td>
                            <%= player.losses %>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
    <div class="button-overlay-background"></div>
    <div class="main-menu">
        <div class="main-menu-buttons">
            <a class="main-menu-button main-1" hx-get="/users" hx-target="#main" hx-swap="innerHtml">Users</a>
            <a class="main-menu-button main-3" hx-get="/load?page=league" hx-target="#main" hx-swap="innerHtml">League</a>
            <a class="main-menu-button main-2" hx-get="/load?page=seasons" hx-target="#main" hx-swap="innerHtml">Seasons</a>
            <a class="main-menu-button main-4" hx-get="/forums" hx-swap="innerHtml" hx-target="#main">Forums</a>
        </div>

        <!-- <div hx-boost="true" class="main-menu-1v1-2v2">
            <a class="mm-1v1" href="/load?page=1v1signup" hx-target="#main" hx-swap="innerHtml">1v1</a>
            <a class="mm-2v2" href="/load?page=2v2signup" hx-target="#main" hx-swap="innerHtml">2v2</a>
        </div> -->
    </div>
    <!-- <div class="main-connect-info">Official TF2 MGE Server: 'connect mge.tf'
    </div>
    <div class="main-discord-info">Official TF2 MGE Discord: 'discord.gg/mge'
    </div> -->

    <div id="announcement-overlay" class="announcement-overlay">
        <button class="announcement-button" id="closeOverlay"></button>
        <div class="overlay-content">
            <h1>2V2 CUP JULY 27/28</h1>
            <h3>$500+ KEY PRIZE POOL</h3>
            <h3>TWO DIVISIONS</h3>
            <h3>SIGN UPS OPEN SOON</h3>
            <a class="join-discord" id="discordInvite" href="https://discord.gg/j6kDYSpYbs">discord.gg</a>
        </div>
    </div>
    <script src="/js/main.js"></script>
</div>