<h1 class="description">Where Anyone Can Make A Name</h1>
<div class="placeholder">
    <table>
        <tr class="elo-title">
            <th>Rank</th>
            <th>Name</th>
            <th>Elo</th>
            <th>Wins</th>
            <th>Losses</th>
        </tr>
        <% elo.forEach((player, index) => { %>
            <tr style="cursor:pointer" hx-target="#main" hx-get=<%= "/player_page/" + player.steamid + "?name=" + player.name %> class="elo-row">
                <td><%= index + 1 %></td>
                <td class="name-column"><%= player.name %></a></td>
                <td><%= player.rating %></td>
                <td><%= player.wins %></td>
                <td><%= player.losses %></td>
            </tr>
        <% }) %>
    </table>
</div>
