<div class="flex flex-col mx-auto max-w-5xl w-3/5 bg-gray-800 rounded-lg p-6 gap-4 mt-2">

  <div class="flex flex-col justify-center align-middle items-center">
    <h1 class="text-3xl font-bold m-2 text-gray-100">
      <%= user.steamUsername %>
    </h1>
    <img class="h-40 rounded-md object-contain" src='<%= user.steamAvatar %>' alt="Avatar">
  </div>
  <% if (discordInfo) { %>
    <div class="flex flex-col items-center bg-discord-gray text-white p-4 rounded-lg mt-4">
      <h2 class="text-xl font-bold">Discord Info</h2>
      <p class="mt-2">
        Username: 
        <a href="https://discord.com/channels/@me/<%= discordInfo.discordId %>" target="_blank" class="text-discord-blue hover:underline">
          <%= discordInfo.discordUsername %>#<%= discordInfo.discordDiscriminator %>
        </a>
      </p>
      <a href="https://discord.com/channels/@me/<%= discordInfo.discordId %>" target="_blank">
        <img class="h-20 w-20 rounded-full mt-2" src="https://cdn.discordapp.com/avatars/<%= discordInfo.discordId %>/<%= discordInfo.discordAvatar %>.png" alt="Discord Avatar">
      </a>
    </div>
  <% } else { %>
    <% if (owner === 1) { %>
      <div class="flex items-center justify-center bg-discord-gray text-white mt-4">
        <a href="https://discord.com/oauth2/authorize?client_id=1258116543250829343&response_type=token&redirect_uri=http%3A%2F%2Flocalhost%3A3005%2Fauth%2Fdiscord%2Fcallback&scope=identify" 
           class="bg-discord-blue px-2 text-xl py-2 rounded-md font-bold flex items-center hover:bg-gray-600 transition duration-75">
          <i class="fa-brands fa-discord text-2xl"></i>
          <span>Login with Discord</span>
        </a>
      </div>
    <% } else { %>
      <div class="flex items-center justify-center bg-gray-600 text-white mt-4">
        <p>Discord account not linked.</p>
      </div>
    <% } %>
  <% } %>
  <div class="flex gap-2">
    <% if(discordInfo) { %>
      <a href="https://discord.com/channels/@me/<%= discordInfo.discordId %>" target="_blank">
        <img class="h-10 object-contain" src="/images/discord-logo.png" alt="Discord Logo" class="discord-profile-logo">
      </a>
    <% } %>
    <a href="https://steamcommunity.com/profiles/<%= user.steamId %>" target="_blank">
      <img class="h-10 object-contain" src="https://upload.wikimedia.org/wikipedia/commons/8/87/New_Steam_Logo_with_name.jpg" alt="Steam Logo" class="steam-profile-logo">
    </a>
    <a href="https://logs.tf/profile/<%= user.steamId %>" target="_blank">
      <img class="h-10 object-contain" src="/images/logs-tf-logo.png" alt="Logs.tf Logo" class="logs-profile-logo">
    </a>
    <a href="https://rgl.gg/Public/PlayerProfile?p=<%= user.steamId %>&r=40" target="_blank">
      <img class="h-10 object-contain" src="/images/rgl-logo.png" alt="RGL.gg Logo" class="rgl-profile-logo">
    </a>
  </div>

  <div class="text-gray-300 flex flex-col mx-auto max-w-5xl w-full bg-gray-800 rounded-lg p-6 gap-4 mt-2">
    <h2 class="text-2xl mx-auto font-bold mb-4">Teams</h2>
    
    <% if (teamsForPlayer.some(team => team.is1v1 === 1)) { %>
      <h3 class="text-xl font-bold text-gray-300">1v1</h3>
      <div class="overflow-x-auto rounded-lg">
        <table class="min-w-full bg-gray-900 rounded-lg mb-4 w-full">
          <thead class="bg-gray-700 text-gray-300 text-left text-sm uppercase">
            <tr>
              <th class="px-4 py-2">TEAM</th>
              <th class="px-4 py-2">DIVISION</th>
              <th class="px-4 py-2">RECORD</th>
              <th class="px-4 py-2">JOINED</th>
              <th class="px-4 py-2">LEFT</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-600">
            <% teamsForPlayer.filter(team => team.is1v1 === 1).reverse().forEach(team => { %>
              <tr class="cursor-pointer">
                <td class="px-4 py-2"><%= team.teamName %></td>
                <td class="px-4 py-2"><%= team.division %></td>
                <td class="px-4 py-2"><%= team.wins %> - <%= team.losses %></td>
                <td class="px-4 py-2"> 
                  <div><%= new Date(team.startedAt).toLocaleDateString() %></div>
                  <div class="text-gray-500">Season <%= team.season %></div>
                </td>
                <td class="px-4 py-2">
                  <div><%= new Date(team.leftAt).toLocaleDateString() %></div>
                  <div class="text-gray-500">Season <%= team.season %></div>
                </td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    <% } %>
    
    <% if (teamsForPlayer.some(team => team.is1v1 === 0)) { %>
      <h3 class="text-xl font-bold text-gray-300 mt-4">2v2</h3>
      <div class="overflow-x-auto rounded-lg">
        <table class="min-w-full bg-gray-900 rounded-lg mb-4 w-full">
          <thead class="bg-gray-700 text-gray-300 text-left text-sm uppercase">
            <tr>
              <th class="px-4 py-2">TEAM</th>
              <th class="px-4 py-2">DIVISION</th>
              <th class="px-4 py-2">RECORD</th>
              <th class="px-4 py-2">JOINED</th>
              <th class="px-4 py-2">LEFT</th>
            </tr>
          </thead>
          <tbody>
            <% teamsForPlayer.filter(team => team.is1v1 === 0).reverse().forEach(team => { %>
              <tr class="cursor-pointer clickable" onclick="window.location.href='/team_page/<%= team ? team.teamId : 'unknown' %>'">
                <td class="px-4 py-2"><%= team.teamName %></td>
                <td class="px-4 py-2"><%= team.division %></td>
                <td class="px-4 py-2"><%= team.wins %> - <%= team.losses %></td>
                <td class="px-4 py-2"> 
                  <div><%= new Date(team.startedAt).toLocaleDateString() %></div>
                  <!-- <div class="text-gray-500">Season <%= team.seasonNum %></div> -->
                </td>
                <td class="px-4 py-2">
                  <div>
                    <%= team.leftAt ? new Date(team.leftAt).toLocaleDateString() : '' %>
                  </div>
                  <!-- <div class="text-gray-500"><%= team.leftAt ? 'Season ' + team.season : '' %></div> -->
                </td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    <% } %>    
  </div>
</div>

<style>
  tbody tr {
    transition: background-color 0.5s ease; 
  }

  tbody tr.clickable:hover {
    background-color: rgb(255, 255, 255);
    transition-duration: 0s;
    color: black;
  }

  tbody tr.linger {
    background-color: rgba(255, 255, 255, 0.05);
    color: black;
  }
</style>

<script>
  window.onload = () => {
  const fragment = new URLSearchParams(window.location.hash.slice(1));
  const [accessToken, tokenType] = [fragment.get('access_token'), fragment.get('token_type')];

  if (!accessToken) {
      window.location.href('/')
      return (document.getElementById('login').style.display = 'block');
  }
  fetch('https://discord.com/api/users/@me', {
    headers: {
        authorization: `${tokenType} ${accessToken}`,
    },
  })
  .then(result => result.json())
  .then(response => {
    const { username, discriminator, avatar, id} = response;
    document.getElementById('name').innerText = ` ${username}#${discriminator}`;
    document.getElementById("avatar").src = `https://cdn.discordapp.com/avatars/${id}/${avatar}.jpg`;
  })
  .catch(console.error);

  };
</script>