<div class="flex flex-col mx-auto max-w-5xl w-3/5 bg-opacity-55 backgdrop-blur-lg backdrop-filter bg-black shadow-sm rounded-lg p-6 gap-4 mt-2">

  <div class="flex flex-col justify-center align-middle items-center">
    <h1 class="text-3xl font-bold m-2 text-gray-100">
      <%= user.steamUsername %>
    </h1>
    <img class="h-40 rounded-md object-contain" src='<%= user.steamAvatar %>' alt="Avatar">
  </div>
    
  <div class="flex flex-col gap-2">
    <a href="https://steamcommunity.com/profiles/<%= user.steamId %>" target="_blank">
      <img class="h-10 w-28 object-contain" src="https://upload.wikimedia.org/wikipedia/commons/8/87/New_Steam_Logo_with_name.jpg" alt="Steam Logo" class="steam-profile-logo">
    </a>
    <a href="https://logs.tf/profile/<%= user.steamId %>" target="_blank">
      <img class="h-14 w-28 object-contain" src="/images/logs-tf-logo.png" alt="Logs.tf Logo" class="logs-profile-logo">
    </a>
    <a href="https://rgl.gg/Public/PlayerProfile?p=<%= user.steamId %>&r=40" target="_blank">
      <img class="h-14 w-28 object-contain" src="/images/rgl-logo.png" alt="RGL.gg Logo" class="rgl-profile-logo">
    </a>
  </div>

  <div class="text-gray-300 flex flex-col mx-auto max-w-5xl w-full bg-gray-800 shadow-md border rounded-lg p-6 gap-4 mt-2">
    <h2 class="text-2xl mx-auto font-bold mb-4">Teams</h2>
    
    <h3 class="text-xl font-bold text-gray-300">1v1</h3>
    <div class="overflow-x-auto">
      <table class="min-w-full bg-gray-900 shadow-md rounded-lg mb-4 w-full">
        <thead class="bg-gray-700 text-gray-300 text-left text-sm uppercase">
          <tr>
            <th class="px-4 py-2">TEAM</th>
            <th class="px-4 py-2">DIVISION</th>
            <th class="px-4 py-2">RECORD</th>
            <th class="px-4 py-2">JOINED</th>
            <th class="px-4 py-2">LEFT</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-600">
          <% teamsForPlayer.filter(team => team.is1v1 === 1).reverse().forEach(team => { %>
            <tr class="hover:bg-gray-700 transition duration-200 cursor-pointer">
              <td class="px-4 py-2 text-gray-300"><%= team.teamName %></td>
              <td class="px-4 py-2 text-gray-300"><%= team.division %></td>
              <td class="px-4 py-2 text-gray-300"><%= team.wins %> - <%= team.losses %></td>
              <td class="px-4 py-2 text-gray-300"><%= team.startedAt ? new Date(team.startedAt).toLocaleDateString() : 'N/A' %></td>
              <td class="px-4 py-2 text-gray-300"><%= team.leftAt ? new Date(team.leftAt).toLocaleDateString() : '' %></td>
            </tr>
          <% }); %>
          
          <% if (teamsForPlayer.filter(team => team.is1v1 === 1).length === 0) { %>
            <tr>
              <td colspan="5" class="text-center py-4 text-gray-500">No 1v1 teams associated with this player.</td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    
    <h3 class="text-xl font-bold text-gray-300">2v2</h3>
    <div class="overflow-x-auto">
      <table class="min-w-full bg-gray-900 shadow-md rounded-lg mb-4 w-full">
        <thead class="bg-gray-700 text-gray-300 text-left text-sm uppercase">
          <tr>
            <th class="px-4 py-2">TEAM</th>
            <th class="px-4 py-2">DIVISION</th>
            <th class="px-4 py-2">RECORD</th>
            <th class="px-4 py-2">JOINED</th>
            <th class="px-4 py-2">LEFT</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-600">
          <% teamsForPlayer.filter(team => team.is1v1 === 0).reverse().forEach(team => { %>
            <tr class="hover:bg-gray-700 transition duration-200 cursor-pointer">
              <td class="px-4 py-2 text-gray-300"><%= team.teamName %></td>
              <td class="px-4 py-2 text-gray-300"><%= team.division %></td>
              <td class="px-4 py-2 text-gray-300"><%= team.wins %> - <%= team.losses %></td>
              <td class="px-4 py-2 text-gray-300"><%= team.startedAt ? new Date(team.startedAt).toLocaleDateString() : 'N/A' %></td>
              <td class="px-4 py-2 text-gray-300"><%= team.leftAt ? new Date(team.leftAt).toLocaleDateString() : '' %></td>
            </tr>
          <% }); %>
          
          <% if (teamsForPlayer.filter(team => team.is1v1 === 0).length === 0) { %>
            <tr>
              <td colspan="5" class="text-center py-4 text-gray-500">No 2v2 teams associated with this player.</td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
