<div class="post">
    <link rel="stylesheet" href="css/post.css" />
    <link rel="stylesheet" href="css/forums.css" />
    <link rel="stylesheet" href="css/post.css" />
    <div class="background-page"></div>

    <title>Thread</title>

    <div class="h-screen overflow-y-scroll border-lg bg-[url('/images/paper-background.png')]">
        <div class="post-header">
            <button href="/forums">Threads</button>
            <div class="post-container">
                <a class="post-title">
                    <%= thread.title %>
                </a>
                <div class="post-profile-container" hx-get="/player_page/<%= thread.steam_id %>" hx-target="#main"
                    hx-swap="innerHtml">
                    <img class="post-avatar" src="<%= thread.steam_avatar %>" alt="Post Avatar">
                    <a class="post-username">
                        <%= thread.steam_username %>
                    </a>
                </div>
                <p class="post-content">
                    <%= thread.content %>
                </p>
                <p class="post-id">
                    <%= thread.thread_id %>
                </p>
            </div>
        </div>
        <% posts.forEach(post=> { %>
            <div class="reply-container">
                <div class="reply-profile-container" hx-get="/player_page/<%= post.steam_id %>" hx-target="#main"
                    hx-swap="innerHtml">
                    <img class="reply-avatar" src="<%= post.steam_avatar %>" alt="Post Avatar">
                    <a class="reply-username">
                        <%= post.steam_username %>
                    </a>
                </div>
                <p class="reply-content">
                    <%= post.content %>
                </p>

                <% if (session.user) { %>
                    <% const isOwner=post.steam_id===session.user.steamid; %>
                        <% const isModerator=moderators.some(moderator=> moderator.steam_id === session.user.steamid);
                            %>
                            <% if (isOwner || isModerator) { %>
                                <form hx-post="/remove_reply" hx-target="#main" hx-swap="innerHTML">
                                    <input type="hidden" name="reply_id" value="<%= post.id %>">
                                    <input type="hidden" name="is_owner" value="<%= isOwner %>">
                                    <input type="hidden" name="is_moderator" value="<%= isModerator %>">
                                    <button class="remove-reply" type="submit">Remove Reply</button>
                                </form>
                                <% } %>
                                    <% } %>
            </div>

            <% }); %>
                <form action="/posts" method="POST" class="reply-textbox"">
                    <input type=" hidden" name="thread_id" value="<%= thread.thread_id %>">
                    <textarea class="text-black" id="content" name="content" rows="10" cols="60"></textarea><br><br>
                    <button class="post-reply" type="submit">Post Reply</button>
                </form>
    </div>
</div>