<div class="post">
    <link rel="stylesheet" href="css/post.css" />
    <title>Forum Post</title>

    <div class="post-background">
        <div class="post-container">
            <div class="post-profile-container" hx-get="/player_page/<%= forum.steam_id %>" hx-target="#main" hx-swap="innerHtml">
                <img class="post-avatar" src="<%= forum.steam_avatar %>" alt="Post Avatar">
                <a class="post-username"><%= forum.steam_username %></a>
            </div>

            <a class="post-title"><%= forum.title %></a>
            <p class="post-content"><%= forum.content %></p>
            <p class="post-id"><%= forum.forums_id %></p>
        </div>
    </div>
</div>

