<div class="post text-black border-black shadow shadow-black">
    <title>
        <%= thread.title %>
    </title>

    <div class="px-2 py-2 gap-2 h-screen overflow-y-scroll border-lg bg-[url('/images/paper-background.png')]">
        <a href="/forums">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-6" style="filter: url(#shadow);">
                <filter id="shadow">
                    <feDropShadow dx="2" dy="2" stdDeviation="1" />
                </filter>
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
            </svg>
        </a>
        <div class="w-full flex justify-center text-2xl underline">
            <%= thread.title %>
        </div>
        <div class="my-2 border border-black rounded shadow shadow-black">
            <div class="flex">
                <div class="w-1/5 min-w-[150px] p-2 border-r border-black">
                    <a href="/player_page/<%= thread.steam_id %>" hx-target="#main" hx-swap="innerHtml">
                        <img class="rounded w-full max-w-[100px] mx-auto" src="<%= thread.steam_avatar %>"
                            alt="Post Avatar">
                        <div class="text-rose-800 font-bold text-center">
                            <%= thread.steam_username %>
                        </div>
                        <div class="text-center">Elo</div>
                        <div class="text-center">Posts: 69</div>
                    </a>
                </div>
                <div class="w-3/4 flex flex-col flex-grow">
                    <p class="p-2">
                        <%= thread.content %>
                    </p>
                </div>
            </div>
        </div>
        <% posts.forEach(post=> { %>
            <div class="border mb-2 border-black rounded shadow shadow-black">
                <div class="flex">
                    <div class="w-1/5 min-w-[150px] p-2 border-r border-black">
                        <a href="/player_page/<%= thread.steam_id %>" hx-target="#main" hx-swap="innerHtml">
                            <img class="rounded w-full max-w-[100px] mx-auto" src="<%= post.steam_avatar %>"
                                alt="Post Avatar">
                            <div class="text-rose-800 font-bold text-center">
                                <%= post.steam_username %>
                            </div>
                            <div class="text-center">Elo</div>
                            <div class="text-center">Posts: 69</div>
                        </a>
                    </div>
                    <div class="w-3/4 flex flex-col flex-grow">
                        <p class="p-2">
                            <%= post.content %>
                        </p>
                    </div>
                </div>
                <% if (session.user) { %>
                    <% const isOwner=post.steam_id===session.user.steamid; %>
                        <% const isModerator=moderators.some(moderator=> moderator.steam_id === session.user.steamid);
                            %>
                            <% if (isOwner || isModerator) { %>
                                <div class="border-t border-black">
                                    <form method="POST" class="p-2" action="/remove_reply">
                                        <input type="hidden" name="reply_id" value="<%= post.id %>">
                                        <input type="hidden" name="is_owner" value="<%= isOwner %>">
                                        <input type="hidden" name="is_moderator" value="<%= isModerator %>">
                                        <button class="text-red-700 font-bold" type="submit">Remove Reply</button>
                                    </form>
                                </div>
                                <% } %>

                                    <% } %>
            </div>

            <% }); %>
                <% if (session.user) { %>
                    <form action="/posts" method="POST" class="reply-textbox"">
                    <input class=" hidden" type=" hidden" name="thread_id" value="<%= thread.thread_id %>">
                        <label for="message" class="block mb-2 text-sm font-medium text-black">Reply to
                            thread:</label>
                        <textarea
                            class="block p-2.5 w-full text-sm rounded-lg border border-gray-900 bg-transparent text-black"
                            id="content" name="content" rows="4"></textarea>
                        <button class="mt-1 shadow-black shadow p-2 rounded" type="submit">Post
                            Reply</button>
                    </form>
                    <% } %>
    </div>
</div>