<div id="teamsContainer">
    <form action="/admin/create_match_set" method="POST">
        <table class="bg-gray-700 divide-y divide-gray-700 w-1/2 mx-auto table-fixed mb-6">
            <thead>
                <tr>
                    <th class="px-4 py-2 text-left text-xs font-medium uppercase tracking-wider">Team</th>
                    <th class="px-4 py-2 text-left text-xs font-medium uppercase tracking-wider">Region</th>
                    <th class="px-4 py-2 text-left text-xs font-medium uppercase tracking-wider">Record</th>
                </tr>
            </thead>
            <tbody class="bg-gray-800 divide-y divide-gray-700 rounded-lg">
                <% teams.forEach(team => { %>
                    <tr class="bg-gray-800 cursor-pointer" onclick="window.location.href='/team_page/<%= team.id %>'">
                        <td class="overflow-x-hidden h-10 px-2 py-2 whitespace-nowrap text-sm font-medium text-gray-300 flex items-center space-x-2">
                            <img src="/images/team_avatars/<%= team.avatar %>" alt="Team Avatar" class="h-10 w-10 rounded-md">
                            <span><%= team.name %></span>
                        </td>
                        <td class="px-4 py-2 whitespace-nowrap text-sm text-gray-300">
                            <%= team.regionId %>
                        </td>
                        <td class="px-4 py-2 whitespace-nowrap text-sm text-gray-300">
                            <%= team.wins %> - <%= team.losses %>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>   
        <input type="hidden" name="teams" id="teams" value='<%= JSON.stringify(teams) %>'>
        <input type="hidden" name="boSeries" id="boSeries" value="<%= boSeries %>">
        <input type="hidden" name="weekNo" id="weekNo" value="<%= weekNo %>">
        <input type="hidden" name="seasonNo" id="seasonNo" value="<%= seasonNo %>">

        <div class="mx-auto flex items-center mt-4">
            <button type="submit" class="mx-auto bg-red-500 text-white font-bold py-2 px-4 rounded">Create Match Set</button>
        </div>
    </form>
</div>

<style>
    tbody tr:hover {
        background-color: rgba(0, 0, 0, 0.5);
        transition-duration: 0.3s;
        color: white;
    }
</style>
