<div class="w-full bg-black bg-opacity-90 backdrop-blur-lg h-full flex flex-col justify-center align-middle">
    <div class="flex flex-col align-middle justify-center w-full items-center">
      <input class="m-2 p-1 bg-slate-800 bg-opacity-50 outline-none border placeholder-slate-200 focus:border-indigo-600 rounded-lg w-1/2" type="text" id="teamSearch" placeholder="Search by Team Name">
  
      <div class="md:w-1/2 flex flex-col justify-center align-middle">
        <ul id="teams_container">
          <% teams.forEach((team, index)=> { %>
          <a href="/team_page/<%= team.id %>">
            <li id="card-<%= index %>" class="relative z-0 group overflow-hidden h-20 border border-zinc-800 rounded-xl bg-[radial-gradient(500px_circle_at_var(--cursor-x)_var(--cursor-y),#22d3ee_0,transparent,transparent_70%)]">
              <div class="space-y-1 relative z-10 p-1 bg-[linear-gradient(180deg,_rgba(24,_24,_27,_0.60)_0%,_rgba(24,_24,_27,_0.00)_100%)]">

                <% const maxLength=30; let teamName=team.name; if (teamName.length > maxLength) {
                    teamName = teamName.slice(0, maxLength) + '...';
                    } %>
                <h3 id="teams_name" class="text-zinc-100 font-semibold">
                  <%= teamName %>
                </h3>
                <p id="teams_id" class="text-zinc-300">
                  <%= team.id %>
                </p>
                <a class="teams_name" href="/team_page/<%= team.id %>">
                  View Team Page
                </a>
              </div>
              <div id="shadow-<%= index %>" class="bg-[linear-gradient(180deg,_#1E293B_0%,_rgba(59,_130,_246,_0.00)_137.53%,_rgba(32,_69,_129,_0.00)_195%)] blur-[70px] opacity-0 absolute top-0 left-0 w-4/5 h-4/5 duration-150 group-hover:opacity-90">
              </div>
              <div class="absolute inset-[1px] -z-10 rounded-xl bg-zinc-950"></div>
            </li>
          </a>
          <% }); %>
        </ul>
      </div>
    </div>
  </div>
  
  <script src="/js/teams.js" defer></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const cards = document.querySelectorAll('li[id^="card-"]');
      cards.forEach(card => {
        card.addEventListener('mousemove', (e) => {
          const rect = card.getBoundingClientRect();
          const x = e.clientX - rect.left;
          const y = e.clientY - rect.top;
  
          const shadow = document.getElementById(`shadow-${card.id.split('-')[1]}`);
          if (shadow) {
            shadow.style.top = `${y}px`;
            shadow.style.left = `${x}px`;
            shadow.style.transform = "translate(-50%, -50%)";
            card.style.setProperty('--cursor-x', `${x}px`);
            card.style.setProperty('--cursor-y', `${y}px`);
          }
        });
      });
    });
  </script>