<% const region = regions.find(reg => reg.id === team.regionId); %>
<% const division = divisions.find(div => div.id === team.divisionId); %>

<h1 class="text-3xl font-bold m-2">
  <% if (1) { %>
    <span class="text-yellow-500 ml-2" title="You have requested to join this team">&#9819;</span>
  <% } %>
</h1>

<div class="flex flex-col mx-auto max-w-5xl w-3/5 bg-gray-800 shadow-sm rounded-lg p-6 gap-4 mt-2">
  <div class="flex flex-col justify-center align-middle items-center">
    <h1 class="text-3xl font-bold m-2">
      <%= team.name %>
      <% if (team.permissionLevel === 2) { %>
        <span class="text-yellow-500 ml-2" title="Your Team">&#9819;</span>
      <% } %>
    </h1>
    <img src="<%= team.team_avatar %>" alt="Team Avatar" class="w-24 h-24 rounded-full">
    <p class="text-xl">Division: <%= division ? division.name : ' ' %></p>
    <p class="text-xl">Region: <%= region ? region.name : ' ' %></p>
    <p class="text-xl">Record: <%= team.record %></p>
    <p class="text-xl">Status: <%= team.status === 0 ? 'Inactive' : 'Active' %></p>
    <p class="text-sm text-gray-500">Created at: <%= new Date(team.created_at * 1000).toLocaleDateString() %></p>
    <% const teamPlayers = players_in_teams.filter(p => p.teamId === team.id && p.active === 1); %>
    <% const rosterSize = teamPlayers.length; %>
    <p class="text-lg text-gray-700 mb-4">Roster Size: <%= rosterSize %> / 3</p>
  </div>

  <% const currentPlayerSteamId = session?.user; %>
  <% if (currentPlayerSteamId) { %>
    <% const playerInTeam = players_in_teams.find(p => p.playerSteamId === session.user.steamid && p.teamId === team.id && p.active === 1); %>
    <% if (playerInTeam && playerInTeam.permissionLevel >= 1 ) { %>
      <div class="flex items-center mt-4">
        <a href="/edit_team/<%= team.id %>" class="bg-green-500 text-white font-bold py-2 px-4 rounded hover:bg-green-600">
          Edit Team
        </a>
      </div>
    <% } %>

    <% if (!team.is1v1 && !playerInTeam) { %>
      <div class="flex justify-center mt-4">
        <a href="/join_team/<%= team.id %>" class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-600">
          Join Team
        </a>
      </div>
    <% } %>

    <% if (playerInTeam) { %>
      <div class="flex justify-center mt-4">
        <form action="/leave_team/<%= team.id %>" method="POST" class="flex justify-center mt-4">
          <button type="submit" class="bg-red-500 text-white font-bold py-2 px-4 rounded hover:bg-red-600">
              Leave Team
          </button>
        </form>
      </div>
    <% } %>   
  <% } %> 

  <div class="text-gray-300 flex flex-col bg-opacity-55 backgdrop-blur-lg backdrop-filter bg-black shadow-md border rounded-lg p-6 gap-2 mt-4">
    <% if (team.is1v1 !== 1) { %>
      <h2 class="text-2xl mx-auto font-bold">Roster</h2>
    <% } %>
    <h3 class="text-xl font-semibold mt-4">Current Roster</h3>
    <table class="min-w-full bg-gray-700 border shadow-md rounded-lg overflow-hidden mb-4">
      <thead class= "text-gray-700 text-left text-sm uppercase">
        <tr>
          <th class="px-4 py-2">Player</th>
          <th class="px-4 py-2">Joined At</th>
        </tr>
      </thead>
      <tbody>
        <% const currentPlayers = players_in_teams.filter(p => p.teamId === team.id && p.active === 1); %>
        <% currentPlayers.forEach(playerInTeam => { %>
          <% const playerUser = users.find(user => user.steamId === playerInTeam.playerSteamId); %>
          <tr class="border bg-gray-900" onclick="window.location.href='/player_page/<%= playerUser ? playerUser.steamId : 'unknown' %>'" style="cursor: pointer;">
            <td class="px-4 py-2 flex items-center">
              <img src="<%= playerUser ? playerUser.steamAvatar : '/default-avatar.png' %>" 
                   alt="<%= playerUser ? playerUser.steamUsername : 'Unknown Player' %> Avatar" 
                   class="w-10 rounded-full mr-4">
              <%= playerUser ? playerUser.steamUsername : 'Unknown Player' %>
              <% if (playerInTeam.permissionLevel === 2) { %>
                <span class="text-yellow-500 ml-2" title="Admin">&#9819;</span> <!-- Crown symbol -->
              <% } %>
            </td>
            <td class="px-4 py-2">
              <%= new Date(playerInTeam.startedAt).toLocaleString() %>
            </td>
          </tr>
        <% }); %>
        <% if (currentPlayers.length === 0) { %>
          <tr>
            <td colspan="2" class="text-center py-4 text-gray-500">No current players in this team</td>
          </tr>
        <% } %>
      </tbody>      
    </table>
  
    <h3 class="text-xl font-semibold mt-4">Past Roster</h3>
    <table class="min-w-full bg-gray-900 border shadow-md rounded-lg overflow-hidden mb-4">
      <thead class="bg-gray-700 text-gray-700 text-left text-sm uppercase">
        <tr>
          <th class="px-4 py-2">Player</th>
          <th class="px-4 py-2">Joined At</th>
          <th class="px-4 py-2">Left At</th>
        </tr>
      </thead>
      <tbody>
        <% const pastPlayers = players_in_teams.filter(p => p.teamId === team.id && p.active === 0 ); %>
        <% pastPlayers.forEach(playerInTeam => { %>
          <% const playerUser = users.find(user => user.steamId === playerInTeam.playerSteamId); %>
          <tr class="border bg-gray-900" onclick="window.location.href='/player_page/<%= playerUser ? playerUser.steamId : 'unknown' %>'" style="cursor: pointer;">
            <td class="px-4 py-2 flex items-center">
              <img src="<%= playerUser ? playerUser.steamAvatar : '/default-avatar.png' %>" 
                   alt="<%= playerUser ? playerUser.steamUsername : 'Unknown Player' %> Avatar" 
                   class="w-10 rounded-full mr-4">
              <%= playerUser ? playerUser.steamUsername : 'Unknown Player' %>
            </td>
            <td class="px-4 py-2">
              <%= new Date(playerInTeam.startedAt).toLocaleString() %>
            </td>
            <td class="px-4 py-2">
              <%= new Date(playerInTeam.leftAt).toLocaleString() %>
            </td>
          </tr>
        <% }); %>
        <% if (pastPlayers.length === 0) { %>
          <tr>
            <td colspan="3" class="text-center py-4 text-gray-500">No past players in this team</td>
          </tr>
        <% } %>
      </tbody>      
    </table>
  </div>
  
  <div class="flex flex-col gap-2 mt-4">
    <h2 class="text-2xl font-bold">Matches</h2>

    <% 
      const matchesBySeason = matches.reduce((acc, match) => {
        const season = match.seasonNo;
        if (!acc[season]) {
          acc[season] = [];
        }
        acc[season].push(match);
        return acc;
      }, {});
    %>

    <% for (const season in matchesBySeason) { %>
      <h3 class="text-xl font-bold mt-4">Season <%= season %></h3>

      <% 
        // Sort the matches by week number
        const seasonMatches = matchesBySeason[season].sort((a, b) => a.weekNo - b.weekNo); 
      %>

      <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden mb-4">
        <thead class="bg-gray-200 text-gray-700 text-left text-sm uppercase">
          <tr>
            <th class="px-4 py-2">Match</th>
            <th class="px-4 py-2">Winner</th>
            <th class="px-4 py-2">Loser</th>
            <th class="px-4 py-2">Date</th>
          </tr>
        </thead>
        <tbody>
          <% seasonMatches.forEach(match => { %>
            <tr>
              <td class="border px-4 py-2">
                <%= match.homeTeamId %> vs <%= match.awayTeamId %> - Week <%= match.weekNo %>
              </td>
              <td class="border px-4 py-2">
                <%= match.winnerId ? match.winnerId : 'N/A' %>
              </td>
              <td class="border px-4 py-2">
                <%= match.loserId ? match.loserId : 'N/A' %>
              </td>
              <td class="border px-4 py-2">
                <%= new Date(match.createdAt * 1000).toLocaleString() %>
              </td>
            </tr>
          <% }); %>
          <% if (seasonMatches.length === 0) { %>
            <tr>
              <td colspan="4" class="text-center py-4 text-gray-500">No matches for this season</td>
            </tr>
          <% } %>
        </tbody>
      </table>
    <% } %>
  </div>

</div>
